Source: turtlebot-tutorials-hydro
Section: science
Priority: optional
Maintainer: NE Automation <code@neautomation.com>
Build-Depends: debhelper (>= 5),cdbs
Standards-Version: 3.9.3

Package: turtlebot-tutorials-hydro
Architecture: any
Provides: turtlebot-tutorials
Conflicts: 
Replaces:
Depends: ${misc:Depends}
Description: TurtleBot Tutorials
 This package provides tutorials.
